---
import { Image } from "astro:assets";
import Paragraph from "../components/Paragraph.astro";
import Timeline, { type TimelineItem } from "../components/Timeline.astro";
import MainLayout from "../layouts/MainLayout.astro";

import sendCutSendImage from "../assets/sponsors/SendCutSend.png";
import edgeChemImage from "../assets/sponsors/EdgeChem.png";
import goBildaImage from "../assets/sponsors/goBILDA.png";
import maxBotixImage from "../assets/sponsors/MaxBotix.png";
import servoCityImage from "../assets/sponsors/ServoCity.png";
import Marquee from "../components/Marquee.astro";

const timeline: TimelineItem[] = [
	{
		date: "2015",
		headline: "Rookie Season",
		description:
			"Browning Robotics kicks off its rookie season, FIRST RES-Q. We end up making it to the finals on our very first qualifier!",
	},
	{
		date: "2016",
		headline: "Ultro Robotics",
		description:
			"Browning Robotics gets renamed to Ultro - a testament to our student-driven, autonomous designs.",
	},
	{
		date: "2017",
		headline: "NYC Championships",
		description:
			"Ultro makes it to NYC Championships for the first time in our sophomore season, Velocity Vortex.",
	},
	{
		date: "2020",
		headline: "Worlds",
		description:
			"Ultro makes it through NYC Championships undefeated, winning Inspire 2<sup>nd</sup> and the Control Award. The FTC World Championship was unfortunately cancelled due to COVID-19.",
	},
	{
		date: "2025",
		headline: "10 Years",
		description:
			"To commemorate our 10-year anniversary, Ultro unveils a refreshed website and identity, and launches community team Ex Nihilo.",
	},
];
---

<MainLayout title="About Us">
	<Paragraph slot="subtitle">
		Ultro began as Browning Robotics in 2015 when the founders, Robert, Ben,
		and Gabe, won a robotics competition at Johns Hopkins. With this
		momentum, we started FTC in 2015/2016 with FIRST RES-Q.
	</Paragraph>
	<Marquee text={["IN CONSTRUCTION", "·"]} />
	<section class="flex flex-col items-center justify-center py-8">
		<h2 class="text-white text-4xl font-display font-extrabold m-4">
			History
		</h2>
		<div class="max-w-9/10 w-224">
			<Timeline entries={timeline} />
		</div>
	</section>
	<section class="flex flex-col items-center justify-center py-8">
		<h2 class="text-white text-4xl font-display font-extrabold m-4">
			Sponsors
		</h2>
		<div class="max-w-9/10 text-center mb-10 flex flex-col items-center justify-center">
			<Paragraph className="mb-4">
				Our affiliation with an all-boys independent school engenders a
				misconception that we have unlimited resources and support.
				<strong>Ultro is entirely self-funded.</strong> Our finances are
				also handled by the students to increase our fiscal responsibility
				and truly be a team <strong>of its own mind.</strong>
			</Paragraph>
			<Paragraph className="mb-4">
				Thank you to our past sponsors:
			</Paragraph>
			<div class="card bg-gray-200 w-196 shadow-sm">
				<div class="flex flex-row justify-center items-center w-fit px-8 gap-4">
					<Image src={sendCutSendImage} alt="SendCutSend" class="min-w-24 max-w-1/5" />
					<Image src={edgeChemImage} alt="EdgeChem" class="min-w-24 max-w-1/5" />
					<Image src={goBildaImage} alt="goBILDA" class="min-w-24 max-w-1/5" />
					<Image src={maxBotixImage} alt="MaxBotix" class="min-w-24 max-w-1/5" />
					<Image src={servoCityImage} alt="ServoCity" class="min-w-24 max-w-1/5" />
				</div>
			</div>
		</div>
	</section>
</MainLayout>
