---
import ultroLogo from '../assets/ultroblack.png';

interface NavItem {
    title: string;
    href: string;
}

const navHeight = "h-20";
const expandedHeight = "h-48";

const leftNavItems: NavItem[] = [
    { title: "About", href: "/about" },
    { title: "Robots", href: "/robots" }
];

const rightNavItems: NavItem[] = [
    { title: "Resources", href: "/resources" },
    { title: "Donate", href: "/donate" }
];

const currentPath = Astro.url.pathname;
---
<nav class={`bg-gray-950 ${expandedHeight} flex justify-center`}>
    <div class={`text-white font-sans text-lg ${navHeight} flex items-center justify-center`}>
        {leftNavItems.map((item) => (
            <a  
                href={item.href} 
                class={`px-6 py-4 ${currentPath === item.href ? "font-extrabold text-white" : "hover:text-gray-300"}`}
            >
                {item.title}
            </a>
        ))}
    </div>
    <a href="/">
        <img src={ultroLogo.src} class={`${expandedHeight} px-4`} alt="Ultro Logo" />
    </a>
    <div class={`text-white font-sans text-lg ${navHeight} flex items-center justify-center`}>
        {rightNavItems.map((item) => (
            <a 
                href={item.href} 
                class={`px-6 py-4 ${currentPath === item.href ? "font-extrabold text-white" : "hover:text-gray-300"}`}
            >
                {item.title}
            </a>
        ))}
    </div>
</nav>