---
import ultroLogo from "../assets/ultroblack.png";

interface NavItem {
    title: string;
    href: string;
}

const { expandedNav = false } = Astro.props;

const navHeight = 20;
const expandedHeight = expandedNav ? 48 : 20;

/*
    PLEASE ASTRO FIX THIS
    const tailwindNavHeight = `h-${navHeight.toString()}`;
    const tailwindExpandedHeight = `h-${expandedHeight.toString()}`;
*/
const tailwindNavHeight = "h-20";
const tailwindExpandedHeight = expandedNav ? "h-48" : "h-20";

const leftNavItems: NavItem[] = [
    { title: "About", href: "/about" },
    { title: "Robots", href: "/robots" },
];

const rightNavItems: NavItem[] = [
    { title: "Outreach", href: "/outreach" },
    { title: "Resources", href: "/resources" },
];

const currentPath = Astro.url.pathname;
---

<nav
    id="fullnav"
    {...expandedNav && {
        "data-navheight": navHeight.toString(),
        "data-expandedheight": expandedHeight.toString()
    }}
    class={`bg-black font-display font-medium ${tailwindExpandedHeight} flex justify-center fixed inset-x-0 top-0 transition-all duration-100 z-10`}
>
    <div
        class={`text-white text-lg ${tailwindNavHeight} flex items-center justify-center`}
    >
        {
            leftNavItems.map((item) => (
                <a
                    href={item.href}
                    class={`px-6 py-4 ${currentPath === item.href ? "font-extrabold text-white" : "hover:text-gray-300"}`}
                >
                    {item.title}
                </a>
            ))
        }
    </div>
    <a href="/" class="flex-none items-center">
        <img
            src={ultroLogo.src}
            id="logo"
            class={`${tailwindExpandedHeight} px-6 transition-all`}
            alt="Ultro Logo"
        />
    </a>
    <div
        class={`text-white text-lg ${tailwindNavHeight} flex items-center justify-center`}
    >
        {
            rightNavItems.map((item) => (
                <a
                    href={item.href}
                    class={`px-6 py-4 ${currentPath === item.href ? "font-extrabold text-white" : "hover:text-gray-300"}`}
                >
                    {item.title}
                </a>
            ))
        }
    </div>
</nav>

{expandedNav && (
    <script>
        const navbar = document.getElementById("fullnav");
        const logo = document.getElementById("logo");

        // astro i just want to pass this from the frontmatter. please add feature
        const logoMin = parseInt(navbar?.dataset?.navheight ?? "20");
        const logoMax = parseInt(navbar?.dataset?.expandedheight ?? "48");

        const scrollScale = 0.25 * parseFloat(getComputedStyle(document.documentElement).fontSize);

        let ticking = false;

        window.addEventListener("scroll", () => {
            // Sync animation with repaints
            if (!ticking) {
                window.requestAnimationFrame(() => {
                    const scrollPosition = window.scrollY;
                    const logoSize = Math.max(
                        logoMin * scrollScale,
                        logoMax * scrollScale - scrollPosition,
                    );

                    if (navbar) navbar.style.height = `${logoSize}px`;
                    if (logo) logo.style.height = `${logoSize}px`;
                    ticking = false;
                });

                ticking = true;
            }
        });
    </script>
)}